S: toy/source.vcb
T: toy/target.vcb
C: toy/step1.src_step1.trg.snt
O: toy/output/step1
coocurrencefile: toy/cooc.file
model1iterations: 5
model1dumpfrequency: 5
hmmiterations: 5
hmmdumpfrequency: 5
emAlignmentDependencies: 1
step_k: 0
model2iterations: 0
model3iterations: 0
model4iterations: 0
model5iterations: 0
