S: toy/source.vcb
T: toy/target.vcb
C: toy/step2.src_step2.trg.snt
O: toy/output/step2
coocurrencefile: toy/cooc.file
model1iterations: 5
model1dumpfrequency: 5
hmmiterations: 5
hmmdumpfrequency: 5
emAlignmentDependencies: 1
oldTrPrbs: toy/output/step1.thmm.5 
oldAlPrbs: toy/output/step1.hhmm.5
step_k: 1
step_alpha: .75 
model2iterations: 0
model3iterations: 0
model4iterations: 0
model5iterations: 0
